<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <main>  
        <div class="adminDashboardContainer">
            <div id="adminDashboardCardContainer">
                
                    <div id="companiesCard" class="card">
                        <h2>Companies</h2>
                        <div class="buttonContainer">
                            <a class="cardButton" href="invite/company">Invite Company</a>
                            <a class="cardButton" href="dashboard/companies">View Companies</a>    
                        </div>
                    </div>
                    <div id="usersCard" class="card">
                        <h2>Users</h2>
                        <div class="buttonContainer">
                            <a class="cardButton" href="invite/user">Invite User</a>
                            <a class="cardButton" href="dashboard/users">View Users</a>
                            <a class="cardButton" href="dashboard/user/invites">View Users invites</a>
                        </div>
                </div>
    
                    <div id="tunnelsCard" class="card">
                        <h2>Tunnels</h2>
    
                        <a class="cardButton" href="dashboard/tunnels">View Tunnels</a>
                    </div>  
                
            </div>
        </div>
    </main>
</body>
</html>