<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <main>  
        <div class="adminDashboardContainer">
            <h1 class="dashboardLargeHeader">Admin Dashboard</h1>
            
            <div id="adminDashboardCardContainer">
                <div class="flex-row" id="row1">
                    <div id="companiesCard" class="card">
                        <h2>Companies</h2>
    
                        <a href="invite/company"><button>Invite Company</button></a>
                        <a href="dashboard/companies"><button>View Companies</button></a>
                    </div>
    
                    <div id="usersCard" class="card">
                        <h2>Users</h2>
                        <a href="invite/user"><button>Invite User</button></a>
                        <a href="dashboard/users"><button>View Users</button></a>
                        <a href="dashboard/user/invites"><button>View Users invites</button></a>
                    </div>
                </div>
                
                <div class="flex-row" id="row2">
                    <div id="tunnelsCard" class="card">
                        <h2>Tunnels</h2>
    
                        <a href="dashboard/tunnels"><button>View Tunnels</button></a>
                        
                    </div>  
                </div>
            </div>
        </div>
    </main>
</body>
</html>