<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <main>  
        <div class="adminDashboard">
            <h1>Admin Dashboard</h1>
            
            <div id="adminDashboardCardContainer">
                <div id="companiesCard">
                    <h2>Companies</h2>

                    <a href="invite/company"><button>Invite Company</button></a>
                    <a href="dashboard/companies"><button>View Companies</button></a>
                </div>

                <div id="usersCard">
                    <h2>Users</h2>
                    <a href="invite/user"><button>Invite User</button></a>
                    <a href="dashboard/users"><button>View Users</button></a>
                </div>

                <div id="bookingsCard">
                    <h2>Bookings Processed</h2>

                    <button>View Bookings</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>