<!DOCTYPE html>
<html>
<head>
    <title>Database Connection Test</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>
</body>
</html>