<!DOCTYPE html>
<html>
    <%- include('header'); -%>
<head>
    <title>OCTO to CRM | Homepage</title>
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <div id="homeSplashContainer">
        <h1 class="homeLargeHeading">OCTO to CRM</h1>
        <h2 class="homeSmallHeading">A tool to contact & booking data between OCTO standard reservations software and various CRM's.</h2>
    </div>
</body>
</html>