<!DOCTYPE html>
<html>
<head>
    <title>Database Connection Test</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/invite.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <div>
        <h1 class="largeHeader">Invite Company</h1>
    </div>

    <div class="inviteCompanyContainer">
        <form class="inviteCompanyForm" action="/admin/company/invite" method="post">
            <label for="companyName">Company Name:</label>
            <input type="text" id="companyName" name="companyName" required><br><br>

            <label for="companyWebsite">Company Website:</label>    
            <input type="text" id="companyWebsite" name="companyWebsite"><br><br>

            <label for="primaryContactEmail">Primary Contact Email:</label>
            <input type="email" id="primaryContactEmail" name="primaryContactEmail" required><br><br>

            <label for="companyPhone">Primary Contact Phone No.:</label>
            <input type="tel" id="companyPhone" name="companyPhone"><br><br>

            <label for="primaryContactFirstName">First Name:</label>  
            <input type="text" id="primaryContactFirstName" name="primaryContactFirstName" required><br><br>

            <label for="primaryContactLastName">Last Name:</label>
            <input type="text" id="primaryContactLastName" name="primaryContactLastName" required><br><br>

            <button type="submit">Invite Company</button>
        </form>
    </div>
</body>
</html>