<!DOCTYPE html>
<html>
<head>
    <title>Invitation Declined</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/invite.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <main>
        <div class="inviteContainer">
            <div class="glassCard">
                <h2>Invitation Declined</h2>
                <p>You have successfully declined the invitation.</p>
                <div class="buttonGroup">
                    <a href="/" class="button">
                        <span>Return Home</span>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
