<!DOCTYPE html>
<html>
<%- include('header'); -%>
<head>
    <title>Manager Dashboard</title>
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <main>  
        <div class="managerDashboardContainer">
            <h1 class="dashboardLargeHeader">Manager Dashboard</h1>
            
            <div id="managerDashboardCardContainer">
                <div class="flex-row" id="row1">
                    <div id="companiesCard">
                        <h2>Company & Users</h2>

                        <a href="company/manage"><button>Manage Company</button></a>
                        <a href="invite/user"><button>Invite User</button></a>
                        <a href="dashboard/users"><button>View Users</button></a>
                    </div>
                    
                </div>
                
                <div class="flex-row" id="row2">
                    <div id="tunnelsCard">
                        <h2>Tunnels</h2>
    
                        <a href="dashboard/tunnels"><button>View Tunnels</button></a>
                    </div>  
                </div>
            </div>
        </div>
    </main>
</body>
</html>