<!DOCTYPE html>
<html>
<%- include('header'); -%>
<head>
    <title>Manager Dashboard</title>
    <link rel="stylesheet" href="/css/manager.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <main>  
        <div class="managerDashboardContainer">
            <div id="managerDashboardCardContainer">
                <div id="companiesCard" class="card">
                    <h2>Company & Users</h2>
                    <div class="buttonContainer">
                        <a class="cardButton" href="company/manage">Manage Company</a>
                        <a class="cardButton" href="invite/user">Invite User</a>
                        <a class="cardButton" href="dashboard/users">View Users</a>
                    </div>
                </div>
                
                <div id="tunnelsCard" class="card">
                    <h2>Tunnels</h2>
                    <div class="buttonContainer">
                        <a class="cardButton" href="dashboard/tunnels">View Tunnels</a>
                        <a class="cardButton" href="dashboard/tunnels/create/new">Create Tunnel</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>