<div class="navbar">
    <a href="/"><h1>OCTOtoCRM</h1></a>
    <% if (!user) { %>
    <div class="loginNavItem">    
        <div class="login-container">
                    <form action="/login" method="POST">

                        <div class="column">
                            <div class="row">
                                <div class="">
                                    <label for="email" >Email:</label>
                                </div>
                                <div class="">
                                    <input type="text" id="email" name="email"  required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label for="password" >Password:</label>
                                </div>
        
                                <div class="">
                                    <input type="password" id="password" name="password" required>
                                </div>
                                <br>
                            </div>
                        </div>


                        

                        <div>
                            <button type="submit">Login</button>
                        </div>
                    </form>
        </div>
    <% } else { %>

        <div class="loggedInInfo">
            <p><h1>Logged in as </h1> <%= user.email %> </p>
            <% if (user.role === 'admin') { %>
                <a href="/admin/dashboard"><h2>Admin Dashboard</h2></a>
            <% } else if (user.role === 'manager') { %>
                <a href="/manager/dashboard"><h2>Manager Dashboard</h2></a>
            <% } %>
            
        </div>

        <h1>test</h1>

        <div class="loginNavItem">    
            <form action="/logout" method="POST">
                <button >Logout</button>
            </form>
        <% } %>
        </div>
    </div>
</div>