<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>



<div class="navbar">
    <a href="/" class="homeButton">
        <p>OCTOtoCRM</p>
    </a>
    
    <% if (user) { %>

    
            <% if (user.role === 'ADMIN') { %>
                <div class="headerButton">
                    <a  href="/admin/dashboard">
                        <p>Admin Dashboard</p>
                    </a>
                </div>
                
            <% } else if (user.role === 'MANAGER') { %>
                <div class="headerButton">
                    <a href="/manager/dashboard"><p>Manager Dashboard</p></a>
                </div>
            <% } %>
            


        <div id="accountInfo">
            <h1 id="loggedInFirstName"><%= user.first_name %></h1>
            <form action="/logout" method="POST">
                <button id="logoutButton">Logout</button>
            </form>
        <% } %>
        </div>
    </div>
</div>