<div class="navbar">
    <a href="/">
        <div class="logoContainer">
            <h1>OCTOtoCRM</h1>
        </div>
    </a>
    
    <% if (!user) { %>
    
    <% } else { %>

        <div class="loggedInInfo">
            
            <% if (user.role === 'admin') { %>
                <a href="/admin/dashboard"><button><h2>Admin Dashboard</h2></button></a>
            <% } else if (user.role === 'manager') { %>
                <a href="/manager/dashboard"><button><h2>Manager Dashboard</h2></button></a>
            <% } %>
            
        </div>

        <div>
            <h1>Logged in as  <span id="loggedInFirstName"><%= user.first_name %></span> </h1>
        </div>

        <div class="loginNavItem">    
            <form action="/logout" method="POST">
                <button >Logout</button>
            </form>
        <% } %>
        </div>
    </div>
</div>