<!DOCTYPE html>
<html>
    
<head>
    <title>OCTO to CRM</title>
    <link rel="stylesheet" href="/css/new.css">

</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>
        <div class="buttons">

			<button class="button" id="one">
				<span>Sliding Colours</span>
			</button>

			<button class="button" id="two">
				<span>Bubble</span>
			</button>

			<button class="button" id="three">
				<span>Border</span>
			</button>

			<button class="button" id="four">
				<span>Bubble Border</span>
			</button>

			<button class="button" id="five">
				<span>Line Expand</span>
			</button>

		</div>
  
</body>
</html>