* {
    box-sizing: border-box;
    margin: 0;
    }
    body { font-family: 'montserrat', sans-serif; }
    .container { max-width: 800px; margin: 0 auto; }
    .success { color: green; }
    .error { color: red; }
    .loading { display: none; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
    .status-container { margin-top: 20px; }
    
    
    #testLogin { margin-top: 20px; padding: 1rem; background-color: antiquewhite; }
    a{ text-decoration: none; }
    

    .flex
    {
        display: flex;
        justify-content: flex-start;
    }

    .card
    {

        padding: 1rem;
        border-radius: 15px;
        margin: 1rem;
        box-shadow: 5px 5px 10px #000000;
        
    }

    

    input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    }

    .row
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: .3rem;

        width: 100%;
    }

    .column
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: flex-start;
    }


    .login-container {
    border-radius: 5px;
    background-color: #f2f2f2;
   
    }


    input[type=text], input[type=password], select, textarea {
        
        width: 100%;
        
        border: 1px solid #ccc;
        border-radius: 4px;
        
    }



    .navbar
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: aqua;
        padding : .5rem 1rem;
    }

    #managerDashboardCardContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    form
    {
        display: flex;
        align-items: center;
        padding: .2rem;
    }

    a
    {
        text-decoration: none;
        color: inherit;
    }

    #companiesCard
    {
        background-color:whitesmoke;
        padding: 1rem;
    }

    #adminDashboardCardContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #bookingsCard
    {
        background-color: rgb(14, 153, 21);
        padding: 1rem;
    }

    #usersCard
    {
        background-color: rgb(20, 176, 238);
        padding: 1rem;
    }

    #tunnelsCard
    {
        background-color: rgb(238, 20, 20);
        padding: 1rem;
        
    }

    .flex-row
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }

    .logoContainer
    {
        background-color: royalblue;
        padding: 1rem;
        border-radius: 15px;
        color: azure;

        
    }

    .logoContainer:hover
    {
        background-color: rgb(0, 0, 255);
    }

    #loggedInFirstName
    {
        color: white;
        filter: drop-shadow(5px 5px 10px #000000);
    }

    .homeLargeHeading
    {
        font-size: 250px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
    }

    .homeSmallHeading
    {
        font-size: 50px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
    }

    .dashboardLargeHeader
    {
        font-size: 100px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        margin: 1rem;
        text-align: center;
    }

    .managerDashboardContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    body
    {
        background-color:darkslategrey
    }

    #homeSplashContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 5rem 2rem;
        margin: 0
    }
    
    .largeHeader
    {
        font-size: 100px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        margin: 1rem;
        text-align: center;
    }

    .mediumHeader
    {
        font-size: 40px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        margin: 1rem;
        text-align: center;
    }

    .button {
        appearance: none;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
    
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        background-color: royalblue;
        color: white;
        
    }

    .lineExpand {
        position: relative;
        background-color: transparent;
        color: black;
        border: 3px solid lightslategray;
        overflow: hidden;
        transition: 0.4s ease-out;
    }
    
    .lineExpand span {
        position: relative;
        z-index: 2;
    }
    
    .lineExpand:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        width: 100%;
        height: 0;
        background-color: royalblue;
        transition: 0.4s ease-out;
    }
    
    .lineExpand:hover {
        color: white;
        border-color: transparent;
    }
    
    .lineExpand:hover:after {
        height: 100%;
    }

    button
    {
        appearance: none;
        border: none;
        outline: none;
        background: none;

        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        
    }