* {
    box-sizing: border-box;
    margin: 0;
    }
    body { font-family: Arial, sans-serif; }
    .container { max-width: 800px; margin: 0 auto; }
    .success { color: green; }
    .error { color: red; }
    .loading { display: none; }
    table { border-collapse: collapse; width: 100%; margin-top: 20px; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
    .status-container { margin-top: 20px; }
    button { padding: 10px 15px; background-color: #4CAF50; color: white; 
            border: none; cursor: pointer; }
    button:hover { background-color: #45a049; }
    #testLogin { margin-top: 20px; padding: 1rem; background-color: antiquewhite; }
    a{ text-decoration: none; }
    label {
   
    
    }

    .flex
    {
        display: flex;
        justify-content: flex-start;
    }

    

    input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    }

    .row
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: .3rem;

        width: 100%;
    }

    .column
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: flex-start;
    }


    .login-container {
    border-radius: 5px;
    background-color: #f2f2f2;
   
    }


    input[type=text], input[type=password], select, textarea {
        
        width: 100%;
        
        border: 1px solid #ccc;
        border-radius: 4px;
        
    }



    .navbar
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: aqua;
        padding : .5rem 1rem;
    }

    form
    {
        display: flex;
        align-items: center;
        padding: .2rem;
    }

    a
    {
        text-decoration: none;
        color: black;
    }

    #companiesCard
    {
        background-color: rgb(40, 176, 180);
        padding: 1rem;
    }

    #adminDashboardCardContainer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #bookingsCard
    {
        background-color: rgb(14, 153, 21);
        padding: 1rem;
    }

    #usersCard
    {
        background-color: rgb(20, 176, 238);
        padding: 1rem;
    }